@using X.PagedList
@using X.PagedList.Mvc.Core
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IPagedList<BookManagerApp.Models.Book>

@{
    ViewData["Title"] = "Book List";
    var pageNumber = Model.PageNumber; // Fix: define pageNumber from Model
}

<h1>Book List</h1>
<form method="get" asp-action="List">
    <input type="text" placeholder="Search by Title or Name" name="SearchTerm"  />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<p>
    Sort By: 
    <a asp-action="List" asp-route-sortOrder="title_desc">Title ↓</a> |
    <a asp-action="List" asp-route-sortOrder="author_asc">Author ↑</a> |
    <a asp-action="List" asp-route-sortOrder="price_desc">Price ↓</a> 

</p>
<a asp-action="Create" class="btn btn-primary">Create</a>
<table class="table">
    <thead>

        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>PublishedDate</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
       @foreach(var book in Model){
            <tr>
                <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price.ToString("C")</td>
            <td>@book.PublishedDate.ToShortDateString()</td>
            <td>
               <button asp-action="Edit" asp-route-id="@book.Id" class="btn btn-outline-primary">
                   Edit
               </button>
                   <a asp-action="Delete" asp-controller="Books" asp-route-id="@book.Id" class="btn btn-outline-danger">
                       Delete
                   </a>
            </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.CurrentSort, SearchTerm = ViewBag.CurrentFilter }))
</div>